.container_Feed_Recomendacao {
  display: flex;
  flex-direction: column;
}

.follow-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.follow-card .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.grid-feed-list {
  width: 100%;
  gap: 15px;
  margin-top: 20px;
}

.grid-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.grid-item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 24px; /* Tamanho dos ícones */
}

.interest-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.interest-info span {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.interest-info button {
  background-color: transparent;
  border: none;
  color: #0073b1;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.interest-info button svg {
  margin-right: 5px;
}

.recommendation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0073b1;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

/* Mantendo o banner-card como estava antes */
.banner-card {
  text-align: center;
  overflow: hidden;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  border: none;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
  padding: 12px;
  position: sticky;
  top: 75px;
  margin-top: 2rem;
}

.banner-card img {
  width: 100%;
  height: 100%;
}