.container-notFound {
  background-color: #f6f6f6;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  place-items: center;
  text-align: center;
  vertical-align: middle;
}

.image {
  object-fit: contain;
  width: 30%;
  height: 90%;
}