.network_container {
  padding-top: 52px;
  max-width: 100%;
  height: auto;
  background-color: #f5f5f5;
}

.network_layout {
  display: grid;
  grid-template-areas: "leftside main rightside";
  grid-template-columns: minmax(0, 5fr) minmax(0, 12fr) minmax(300px, 7fr);
  column-gap: 25px;
  row-gap: 25px;
  max-width: 1128px;
  height: 75vh;
  margin: 20px auto;
  padding-bottom: 10rem;
  margin-bottom: 0px;
}

.network_recebidas_enviadas {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.network_recebidas_enviadas button {
  width: 10rem;
  height: 5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #333;
  font-weight: bold;
}

.network_recebidas_enviadas button:hover {
  background-color: #ddd !important;
}

.network_recebidas_enviadas button.selected {
  background-color: #007bff;
  color: white;
}

.network_recebidas_enviadas .profile_name {
  font-weight: bold;
}

.network_users_info .profile_cargo {
  font-weight: 100;
  font-size: 1.5rem;
}

.network_users {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
}

.network_users_btns {
  width: 25rem;
  display: flex;
  gap: 1rem;
}

.network_users_btn {
  width: 10rem;
  height: 5rem;
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  cursor: pointer;
}

.network_listagem p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

/* Personalização dos usuários */

.network_users_info .box_account {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.box_accounts_info {
  flex: 1;
  margin-left: 10px;
}

.box_info_name {
  margin-bottom: 8px;
}

.network_users_btns {
  display: flex;
  gap: 8px;
}

.network_users_btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.network_users_btn:first-child {
  background-color: #40b189;
}

.network_users_btn:last-child {
  background-color: red;
}

/* Botoes do lado esquerdo */

.network_buttons_container {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.network_buttons_container button {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.network_buttons_container button.selected {
  background-color: #007bff;
  color: white;
}

.network_buttons_container button:hover {
  background-color: #ddd;
}

.network_buttons_container button svg {
  margin-right: 5px;
}
